
    <!DOCTYPE html>
    <html>

    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('.dataframe').DataTable();
            });
        </script>
    </head>

    <body>
        <div>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>契約労働（時間）</th>
      <th>契約休暇（時間）</th>
      <th>実働日数</th>
      <th>年休（全日）</th>
      <th>年休（半日）</th>
      <th>時間休</th>
      <th>中抜け</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>14: 2023-10-01</th>
      <td>7.0</td>
      <td>7.0</td>
      <td>151</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14: 2024-04-30</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>253</td>
      <td>21</td>
      <td>3</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43: 2023-10-01</th>
      <td>7.0</td>
      <td>7.0</td>
      <td>95</td>
      <td>6</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>43: 2024-03-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>279</td>
      <td>15</td>
      <td>2</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>116: 2023-10-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>96</td>
      <td>2</td>
      <td>9</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>116: 2024-03-31</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>211</td>
      <td>16</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>124: 2023-10-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>378</td>
      <td>6</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <th>184: 2023-10-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>339</td>
      <td>9</td>
      <td>11</td>
      <td>12</td>
      <td>0</td>
    </tr>
    <tr>
      <th>193: 2023-10-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>365</td>
      <td>13</td>
      <td>8</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>218: 2024-04-01</th>
      <td>7.0</td>
      <td>7.0</td>
      <td>244</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>237: 2024-10-01</th>
      <td>7.0</td>
      <td>7.0</td>
      <td>43</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>249: 2025-04-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
        </div>
    </body>

    </html>
    