
    <!DOCTYPE html>
    <html>

    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('.dataframe').DataTable();
            });
        </script>
    </head>

    <body>
        <div>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>契約労働（時間）</th>
      <th>契約休暇（時間）</th>
      <th>実働日数</th>
      <th>年休（全日）</th>
      <th>年休（半日）</th>
      <th>時間休</th>
      <th>中抜け</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3: 2023-10-01</th>
      <td>5.0</td>
      <td>5</td>
      <td>14</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3: 2025-01-19</th>
      <td>6.0</td>
      <td>5</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20: 2023-10-01</th>
      <td>8.0</td>
      <td>8.0</td>
      <td>32</td>
      <td>2</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
        </div>
    </body>

    </html>
    